    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<div class="container">

<div
 class="card text-white bg-dark" style="height: 100px;">
 </div>   
 
    <div
            @media (min-width:576px) {class="card text-white bg-dark" style="height: 100px;"}
            @media (max-width:575.98px) {class="card text-white bg-success" style="height: 100px;"}>
    
    
</div>

</div>